@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-transition: 1s;
  transition: 1s;
}

body {
  font-family: var(--ff-secondary);
  background: var(--clr-primary-1);
  color: var(--text-color);
  line-height: 1.5;
  font-size: 0.875rem;
}

:root {
  --clr-primary-1: hsl(0, 0%, 95%);
  --nav-primary: hsl(0, 0%, 100%);
  --nav-active: hsl(0, 0%, 100%);
  --nav-hover: hsl(0, 0%, 100%);
  --clr-primary-2: hsl(0, 0%, 14%);
  --text-color:hsl(0, 0%, 0%);
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition:.8s;
  --radius: 10px;
  --dark-shadow:0px 0px 10px rgba(0, 0, 0, 0.181);
}

/*  global classes */
nav {
  margin: 20px;
  padding-left: 20px;
  border-radius: var(--radius);
  color: var(--text-color);
  background: var(--nav-primary);
  height: 3rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: var(--dark-shadow);
          box-shadow: var(--dark-shadow);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.nav-center {
  width: 90vw;
  max-width: var(--fixed-width);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

nav a {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1rem;
  color: var(--text-color);
  margin-right: 1rem;
  text-decoration: none;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.active {
  border-bottom: 2px solid;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

nav a:hover {
  border-bottom: 2px solid;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

/*
=============== 
Container
===============
*/
main {
  height: 100%;
  min-height: 500px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

h1 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

h1 h1 {
  font-size: 3rem;
}

.main-box {
  height: 200px;
  width: 300px;
  color: var(--text-color);
  background: var(--nav-primary);
  -webkit-box-shadow: var(--dark-shadow);
          box-shadow: var(--dark-shadow);
  padding: 1rem;
  border: 0px solid;
  border-radius: var(--radius);
}

.btn-hero {
  color: var(--text-color);
  background: var(--nav-primary);
  text-transform: uppercase;
  display: inline-block;
  font-weight: 700;
  border: 0px solid;
  cursor: pointer;
  -webkit-box-shadow: var(--dark-shadow);
          box-shadow: var(--dark-shadow);
  border-radius: var(--radius);
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
}

.btn-hero:hover {
  color: var(--text-color);
  background: var(--nav-primary);
}
/*# sourceMappingURL=styles.css.map */