* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
	transition: 1s;
}
body {
	font-family: var(--ff-secondary);
	background: var(--clr-primary-1);
	color: var(--text-color);
	line-height: 1.5;
	font-size: 0.875rem;
}
:root {
	--clr-primary-1: hsl(0, 0%, 95%);
	--nav-primary: hsl(0, 0%, 100%);
	--nav-active: hsl(0, 0%, 100%);
	--nav-hover: hsl(0, 0%, 100%);
	--clr-primary-2: hsl(0, 0%, 14%);
    --text-color:hsl(0, 0%, 0%);
	--ff-primary: "Roboto", sans-serif;
	--ff-secondary: "Open Sans", sans-serif;
	--transition:.8s;
	--radius: 10px;
	--dark-shadow:0px 0px 10px rgba(0, 0, 0, 0.181);
}